@@ -0,0 +1,32 @@
target/
!**/src/main/**/target/
!**/src/test/**/target/
.gradle
.venv
node_modules

### IntelliJ IDEA ###
.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/
.vs/
*.sln
**/obj
**/bin

### Mac OS ###
.DS_Store

